<!DOCTYPE html>
<html ng-app='BookTradingClub'>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/js/main.js"></script>
  </head>
  <body ng-controller='BookTradingClubController'>
    <nav class="navbar navbar-default navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
          <button type="button" data-toggle="modal" data-target=".sign-in-modal" class="btn btn-default navbar-btn" ng-hide='currentUser()'>Sign in</button>
          <a  href='/auth/signout' class="btn btn-default navbar-btn" ng-show='currentUser()' >Sign out</a>
      
          <ul class="nav navbar-nav navbar-right">
            <li><a  href='#/profile/{{ currentUser() }}' ng-show='currentUser()'>Profile</a></li>
            <li><a href='#/'>Home</a></li>
            <li><a href='#/books' ng-show='currentUser()'>All Books</a></li>
          </ul>
          <p ng-show='currentUser()' style='color:white' class="navbar-text navbar-right" ngCloak>Signed in as {{ currentUser().name }}</p>
        </div>
      </div><!-- /.container-fluid -->
    </nav>
    
    <h1><%= message ? message : '' %></h1>
    <div class="modal fade sign-in-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title text-center">Sign in with:</h4>
          </div>        
          <div class="modal-body">
            <div class="btn-group btn-group-justified" role="group" aria-label="sign-in-buttons">
              <div class="btn-group" role="group">
                <a href='/auth/twitter'class="btn btn-info">Twitter</a>
              </div>
              <div class="btn-group" role="group">
                <a  href='/auth/facebook' class="btn btn-primary">Facebook</a>
              </div>
            </div>
            <div class="page-header">
              <h3>Local Account</h3>
            </div>            
            <div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#login" aria-controls="login" role="tab" data-toggle="tab">Login</a></li>
              <li role="presentation"><a href="#signup" aria-controls="signup" role="tab" data-toggle="tab">Sign Up</a></li>
            </ul>
          
            <!-- Tab panes -->
            <div class="tab-content">
              
              <div role="tabpanel" class="tab-pane active" id="login">
                <form action="/auth/login" method="post">
              		<div class="form-group">
              			<label for="username" class="sr-only">Username</label>
              			<input type="username" name='username' placeholder="Username" class="form-control" required>
              		</div>
              		<div class="form-group">
              			<label for="password" class="sr-only">Password</label>
              			<input type="password" name='password' placeholder="Password" class="form-control" required>
              		</div>
              		<button type="submit" class="btn btn-primary"/> Login</button>
                </form>
              </div>
              
              <div role="tabpanel" class="tab-pane" id="signup">
                <form action="/auth/signup" method="post">
              		<div class="form-group">
              			<label for="username" class="sr-only">Username</label>
              			<input type="username" name='username' placeholder="Username" class="form-control" required>
              		</div>
              		<div class="form-group">
              			<label for="password" class="sr-only">Password</label>
              			<input type="password" name='password' placeholder="Password" class="form-control" required>
              		</div>
              		<button type="submit" class="btn btn-info"/> Sign Up</button>
                </form>   
              </div>
            </div>
          
          </div>            
          </div>
        </div>
      </div>
    </div>    
  <ng-view></ng-view>
  
  <script type="text/javascript">
	  
	  // fix the facebook url bug
		if (window.location.hash === '#_=_') window.location.hash = '#';
		
		// pass the user object from the server so it can be used by angular
		window.user = <%- user || 'null' %>;
		
	</script>    
  </body>
</html>