<!DOCTYPE html>
<html ng-app='BookTradingClub'>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/js/main.js"></script>
  </head>
  <body ng-controller='HomePageController'>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>{{message}}</p>
  </body>
</html>
