<!DOCTYPE html>
<html ng-app='BookTradingClub'>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/js/main.js"></script>
  </head>
  <body ng-controller='HomePageController'>
    <nav-dir></nav-dir>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  
  <script type="text/javascript">
	  
	  // fix the facebook url bug
		if (window.location.hash === '#_=_') window.location.hash = '#!';
		
		// pass the user object from the server so it can be used by angular
		window.user = <%- user || 'null' %>;
		
	</script>    
  </body>
</html>