
<div class='row'>
    <div class='col-xs-12'>
        <div class="jumbotron">
          <h1>Hello, {{ $parent.currentUser().name }}</h1>
          <button ng-disabled='$parent.currentUser().pendingRequestsFromUsers.length == 0' class="btn btn-primary" type="button"  data-toggle="modal" data-target="#pendingRequests">
              Pending Requests <span class="badge">{{$parent.currentUser().pendingRequestsFromUsers.length}}</span>
           </button>
           <button ng-disabled='$parent.currentUser().pendingRequestsToUsers.length == 0' class="btn btn-info" type="button" data-toggle="modal" data-target="#proposedRequests">
              Proposed Requests <span class="badge">{{$parent.currentUser().pendingRequestsToUsers.length}}</span>
           </button>
        </div>
    </div>
</div>

<my-books-profile></my-books-profile>
<borrowed-books-profile></borrowed-books-profile>
<pending-request-modal></pending-request-modal>
<proposed-request-modal></proposed-request-modal>










